<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Your Team!</h2>
    <h3>Team Name: <%= @team.name %></h3>
    <h3>Motto: <%= @team.motto %></h3>

    <h2>Your Heroes!</h2>
    <% @heroes.each do |hero| %>
      <h3>Name: <%= hero.name%></h3>
      <h3>power: <%= hero.power%></h3>
      <h3>Biography: <%= hero.bio%></h3>
    <% end %>
  </body>
</html>
