<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Your Team!</h2>
    <h3>Team Name: <%= @team.name %></h3>
    <h3>Motto: <%= @team.motto %></h3>

    <h2>Your Heroes!</h2>
    <% @heroes.each_with_index do |hero| %>
      <h4>Hero Name: <%= hero.name%></h4>
      <h4>Hero Power: <%= hero.power%></h4>
      <h4>Hero Biography: <%= hero.bio%></h4>
      <br>
      <br>
    <% end %>
  </body>
</html>
